
@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Online.Classified.App.Models.Classified>


<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>ARADA</span>-LEJ</h1>
                                <h2>Take #፩ classifieds site with you</h2>
                                <p>
                                    See more relevant listings, find what you’re looking for quicker, and more! Buy and sell new or used items whenever you go!
                                </p>
                                <button type="button" class="btn btn-default get">Sign Up</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/Content/images/home/girl1.jpg" class="girl img-responsive" alt="" />

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>ARADA</span>-LEJ</h1>
                                <h2>
                                    It's better when you’re a member
                                </h2>
                                <p>
                                    See more relevant listings, find what you’re looking for quicker, and more! Buy and sell new or used items whenever you go!
                                </p>
                                <button type="button" class="btn btn-default get">Sign Up</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/Content/images/home/girl2.jpg" class="girl img-responsive" alt="" />

                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>ARADA</span>-LEJ</h1>
                                <h2>Take #፩ classifieds site with you</h2>
                                <p>
                                    See more relevant listings, find what you’re looking for quicker, and more! Buy and sell new or used items whenever you go!
                                </p>
                                <button type="button" class="btn btn-default get">Sign Up</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/Content/images/home/girl3.jpg" class="girl img-responsive" alt="" />

                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Recent Houses</h2>



                    @foreach (var item in Model)
                    {
                        if (item.CategoryId == 1)
                        {
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src=" @Html.DisplayFor(modelItem => item.PictureUrl)" alt="" />
                                            <h2>@Html.DisplayFor(modelItem => item.Price)</h2>
                                            <p> @Html.DisplayFor(modelItem => item.Title)</p>
                                            <a href="/Classified/Detail/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-default add-to-cart">View Detail</a>


                                        </div>

                                    </div>

                                </div>
                            </div>
                        }





                    }





                </div><!--features_items-->


                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">


                           
                            @foreach (var item in Model)
                            { 
                               
                                
                                if (item.IsRecommended == true)
                                {<div class="item active">
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src=" @Html.DisplayFor(modelItem => item.PictureUrl)" alt="" />
                                                        <h2>@Html.DisplayFor(modelItem => item.Price)</h2>
                                                        <p>Easy Polo Black Edition</p>
                                                        <a href="/Classified/Detail/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-default add-to-cart">View Detail</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src=" @Html.DisplayFor(modelItem => item.PictureUrl)" alt="" />
                                                        <h2>@Html.DisplayFor(modelItem => item.Price)</h2>
                                                        <p>Easy Polo Black Edition</p>
                                                        <a href="/Classified/Detail/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-default add-to-cart">View Detail</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }









                            }





                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>


</section>


