@model Online.Classified.App.Models.Classified

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="row">
   

            <div class="col-sm-12 padding-right">
                <div class="product-details">
                    <!--product-details-->

                    <div class="col-sm-8">
                        <div class="product-information">
                            <!--/product-information-->

                            <span><span>@Html.DisplayFor(model => model.Title)</span></span>
                        <div class="view-product">
                                <img src="@Html.DisplayFor(model => model.PictureUrl)" alt="" />
                                <h3>ZOOM</h3>
                            </div>
                            <p>&nbsp;</p>
                            <p>@Html.DisplayFor(model => model.Description)</p>
                            <img src="images/product-details/rating.png" alt="" />
                            <span>
                                <span>@Html.DisplayFor(model => model.Price)</span>

                            </span>


                            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                    <div class="col-sm-4">
                        <div class="product-information">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> @Html.DisplayFor(model => model.Location)</p>
                            <p>&nbsp;</p>
                            <button style="width: 100%;" class="btn btn-lg btn-success"><i class="fa fa-phone" aria-hidden="true"></i> @Html.DisplayFor(model => model.PhoneNumber)</button>
                            <p>&nbsp;</p>
                            <p class="small text-center">To deter and identify potential fraud, spam or suspicious behaviour, we reserve the right to monitor conversations. By sending the message you agree to our Terms of Use and Privacy Policy.</p>
                        </div>


                    </div>
                </div><!--/product-details-->

                

            </div>
        </div>
    </div>



    


</section>


