@{
    ViewData["Title"] = ViewData["Category"];
    @model IEnumerable<News.Data.Models.Post>
}



<div class="container py-1">
    <div class="row py-5"><h1>@ViewData["Category"]</h1></div>
    <div class="row" data-masonry='{"percentPosition": true }'>
        @{ int counter = 0; }
        @foreach (var item in Model)
        {
            /*
            if (counter != 0 && counter % 3 == 0)
            {
                @:</div>
                @:<div class="row" data-masonry='{"percentPosition": true }'>
            }
            */

            <div class="col-sm-4 col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top thumbnail" src="@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Title)">
                    <div class="card-body">

                        <h5 class="card-title">
                            <a href="/Home/Detail/@Html.DisplayFor(modelItem => item.Id)?name=@Html.DisplayFor(modelItem => item.Title)" class="card-text text-center">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </h5>
                        <p>@Html.DisplayFor(modelItem => item.CreatedDate)</p>
                        <p class="d-inline-block text-truncate" style="max-width: 250px;"> @Html.DisplayFor(modelItem => item.Description)</p>
                        <img src="@Html.DisplayFor(modelItem => item.Publisher)" />
                    </div>
                </div>
            </div>
            //counter++;

        }
    </div>
</div>
